 {
    margin: 0px;
    padding: 0px;
  }
  
  font-family: fira-sans, sans-serif;

font-weight: 600;

font-style: normal;
  
  body {
    background-color: whitesmoke;
    color: #252525;
  }

   div {
  padding: 25px;
  margin-bottom: 25px;
}