 {
    margin: 50px;
    padding: 50px;
  }
  
<div>
  body {
    background-color: whitesmoke;
    color: #252525;
  }

  h1,
  h2 {
  	font-family: fira-sans, sans-serif;

font-weight: 600;

font-style: normal;
  }

  li {
  	font-family: fira-sans, sans-serif;

font-weight: 400;

font-style: normal;
  }

  p {
  	font-family: fira-sans, sans-serif;

font-weight: 200;

font-style: normal;
  }

   div {
  padding: 25px;
  margin-bottom: 25px;
}
</div>

.interview {
  max-width: 650px;
}

 #toc {
  position: fixed;
top: 1em
left: 1em;
}

img {
	max-width: 40%;
  float: right;
  clear: left;
}

h1 {

}