
/* reset styles */
  
  * {
    margin: 0px;
    padding: 0px;
  }
  
  /* begin styles */
  
  body {
    background-color: #ECD3D6;
    color: #5931FE;
  }
  div {
  padding: 25px;
  margin-bottom: 25px;
}
