
/* reset styles */
  
  * {
    margin: 0px;
    padding: 0px;
  }
  
  /* begin styles */
  
  body {
    background-color: whitesmoke;
    color: #252525;
    margin: 25px;
    padding: 25px;
  }

 h1,
 h2 {
  	font-family: fira-sans, sans-serif;

	font-weight: 600;

	font-style: normal;

