* {
    margin: 100px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: white;
}

#desktop {
    display: block;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#tablet,
#mobile,
#print {
    display: none;
}


/* tablet */
@media (min-width: 670px) and (max-width: 1024px) {
    body {
        background: white;
    }

    #tablet {
        display: block;
        color: white;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

    #desktop,
    #mobile,
    #print {
        display: none;
    }

}

/* mobile */
@media (max-width: 670px) {
    body {
        background: white;
    }

    #mobile {
        position: relative;
        display: block;
        color: white;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

    #desktop,
    #tablet,
    #print {
        display: none;
    }
}


/* print */
@media print {
    body {
        background: white;
    }

    #print {
        display: inline;
        position: relative;
        height: auto;
        width: 40%;
    }

    #desktop,
    #tablet,
    #mobile {
        display: none;
    }
}